## Unignoring for test purposes
!prior*.txt

## Executables using cppunit
fake
clusterinfo
assigneecomparison
fetchrecords
ratios
cluster
training
engine
clusterhead
similarity
jwcmp
namecompare
misspell
abbreviation
tmp
engineconfig
rarenames
strcmp95
comparesimilarities
comparators
stringmanipulator
attribute
blocking
record
typedefs
idtest
distest

## The usual suspects...
*.o
a.out
