tmp
tmp/*
./*/tmp/*
gmon.out
*~
*.swp
experiments/*
stamp-h1
install-sh
autoscan.log
autom4te.cache/
aclocal.m4
missing
depcomp
config.h
config.log
config.status
config.h.in
Makefile
Makefile.in
.deps/
Rare*.txt
prior*.txt
*.o
*.gch
exedisambig
txt2sqlite3
.fuse*
*.gdb
configure
